     <!-- About Section -->
        <section id="about">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <h2 class="section-heading">About us</h2>
                        <h3 class="section-subheading text-muted-dark">A small company with a big impact</h3>
                  <div class="row">
                  <div class="col-md-4 ">
                   <img src="img/saese_logo_2.png" class="img-responsive about_logo" alt="Logo"/>
                  </div>
                  <div class="col-md-8">  
                     <p class="large" > We are an import and export company providing trade and consulting services. The key to our success is that we have contacts and information to find the right partner between Sweden and other countries. The operation of our company is the acquisition of in-demand goods for trading between Sweden, Europe, Middle East and Africa, since we have good communication skills in different languages.</p>
                  </div>
                  </div>

     </div>    

                    </div>
                </div>


        </section>