
    <!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Our services</h2>
                  <h3 class="section-subheading text-muted"> </h3> 
                </div>
            </div>
            
            <div class="row text-center">
                <div class="col-md-3">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-retweet fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Import/Export Products</h4>
                   <p class="text-muted-dark">We help you exchange goods between Sweden and other areas in the world including Europe, Middle East and Africa.</p>
                </div>
                <div class="col-md-3">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-truck fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Freight/Cargo services</h4>
                     <p class="text-muted-dark">We provide you with the most convenient shipping solutions, and we use our resources to ensure that you get the best service you need.</p>
                </div>
                <div class="col-md-3">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-pencil-square-o  fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Trade Contract Services</h4>
                   <p class="text-muted-dark">
                   We exploit our contacts and information to find you the right partner between Sweden and other countries.
                    </p>
                </div>
                <div class="col-md-3">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-comments-o   fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Consultation</h4>
                    <p class="text-muted-dark">We offer you an effective consultancy service covering many issues or questions you may have.</p> 
                </div>
            </div>
        </div>
    </section>
